<!doctype html>

<header>
   
    <style>
        body {
        background-color: rgba(0, 0, 0, 4);
        color: rgba(0,0,0,100) !Important;
}
    </style>
    <link rel="stylesheet" href="/static?path=nav/nav.css">

    <head>
        
    {% block METADATA %} {%endblock METADATA%}
    </head>
    
    
</header>

<body style="padding: 0px;">
        {% include "static/nav/nav.html" %}
        {% block title %}Login{% endblock %}
        <br><br><br>
        <div style="color: white; padding: 1%;">
            {% block Content %} text {% endblock Content %}
        </div>
        <!-- include 'footer.html' --> 
</body>
